<div class="container-fluid MainBg">
  <div class="contnent">
    <div class="container">
      <h1 class="headingCard">Edit Profile</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="mx-2">
                <img src="./assets/icons/Sidebar/Edit-Profile.svg" alt="" class="icon">
              </div>
              <div>
                <h3 class="">Edit Profile</h3>
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, veniam!
                  Illo eius iste eaque, voluptatum aspernatur, corrupti quisquam ullam eos sunt laboriosam nemo id.
                  Dolore nobis eaque doloribus voluptatibus consequatur!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="">
                <img src="./assets/icons/Sidebar/Edit-Profile.svg" alt="" class="icon">
              </div>
              <div>
                <h3 class="">Edit Profile</h3>
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, veniam!
                  Illo eius iste eaque, voluptatum aspernatur, corrupti quisquam ullam eos sunt laboriosam nemo id.
                  Dolore nobis eaque doloribus voluptatibus consequatur!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="">
                <img src="./assets/icons/Sidebar/Edit-Profile.svg" alt="" class="icon">
              </div>
              <div>
                <h3 class="">Edit Profile</h3>
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, veniam!
                  Illo eius iste eaque, voluptatum aspernatur, corrupti quisquam ullam eos sunt laboriosam nemo id.
                  Dolore nobis eaque doloribus voluptatibus consequatur!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="">
                <img src="./assets/icons/Sidebar/Edit-Profile.svg" alt="" class="icon">
              </div>
              <div>
                <h3 class="">Edit Profile</h3>
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, veniam!
                  Illo eius iste eaque, voluptatum aspernatur, corrupti quisquam ullam eos sunt laboriosam nemo id.
                  Dolore nobis eaque doloribus voluptatibus consequatur!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- weeks  -->
    <div class="WeeksCards">
      <div class="weeks">
        <h2>Week1</h2>
      </div>
      <div class="d-flex justify-content-between align-content-center cardWeek" (click)="openModal()">
        <h2 class="week">Business and Data 101</h2>
        <p><svg width="25" height="14" viewBox="0 0 25 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.9053 1.14478L12.5249 12.5251" stroke="white" stroke-width="1.46667" stroke-linecap="round">
            </path>
            <path d="M0.999367 1.00063L12.5248 12.5248" stroke="white" stroke-width="1.46667" stroke-linecap="round">
            </path>
          </svg></p>
      </div>
      @if(openModels===true){
      <div class="d-flex justify-content-center modelText">
        <p class="modalText">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti quia assumenda error
          soluta nobis
          doloremque id vel iste consequatur harum in est voluptatibus reiciendis molestiae esse sit voluptatem, ratione
          dolore!</p>
      </div>
      }
    </div>
  </div>
</div>