<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-12 blackBg">
      <div class="waterWord">
        <div class="containerWater">
          <h1 class="font">WATER CAN DELIVERY WITH JUST A PRESS</h1>
          <h1 class="back">WATER CAN DELIVERY WITH JUST A PRESS</h1>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12 bodyWrapper">
      <div class="wrapper">
        <div class="shadow"></div>

        <div class="imgWrapper">
          <img
            src="https://res.cloudinary.com/dug99qncm/image/upload/c_scale,h_400,dpr_auto,q_auto:low/v1591015527/watercans/watercan.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
