<div
  class="row bg-secondary-color d-flex justify-content-center align-items-center"
>
  <div class="col-md-4 col-12 bg-secondary-color">
    <ng-lottie width="100%" [options]="paymentsOptions"></ng-lottie>
  </div>
  <div class="col-md-8 col-12 bg-secondary-color">
    <div class="e-card playing">
      <div class="container-fluid textClass">
        <div class="row p-3 p-md-4">
          <div class="col-12">
            <h1 class="text-dark text-center pb-2 pb-md-4">
              Pay Through Multiple Modes
            </h1>
          </div>
          <div class="col-12">
            <h3 class="text-dark">
              <i class="bi bi-star-fill"></i>&nbsp;Cash or UPI on delivery
            </h3>
            <h5 class="text-dark-slate pb-2 pb-md-3">
              You can make payment via multiple UPI apps or through cash to our
              delivery executive. If exact change is not there for cash not an
              issue we will add extra amount to your wallet which you can reuse
              for further orders.
            </h5>

            <h3 class="text-dark">
              <i class="bi bi-star-fill"></i>&nbsp;Wallet Recharge
            </h3>
            <h5 class="text-dark-slate pb-2 pb-md-3">
              Recharge your wallet via credit/debit card or UPI or Netbanking.
              Whenever you want to order refill if amount is there in wallet it
              will be auto deduct from wallet and order will get placed.
            </h5>

            <h3 class="text-dark">
              <i class="bi bi-star-fill"></i>&nbsp;Payment Links
            </h3>
            <h5 class="text-dark-slate pb-2 pb-md-3">
              Not at home during delivery, not an issue we will send you the
              payment link using which you can pay via credit/debit card or UPI
              or Netbanking
            </h5>

            <h4 class="float-end text-dark pt-3 pt-md-5">
              <a
                ><u
                  >Click here to know more about how Bringjal Wallet will add
                  value</u
                ></a
              >
            </h4>
          </div>
        </div>
      </div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </div>
</div>
