<div class="container-fluid MainBg">
  <!-- Cards -->
  <section class="cardContainer">
    <div class="cards">
      <h2 class="cardHeading">Who Can Attend The Workshop?</h2>
      <div class="">
        <!-- <img
          src="https://res.cloudinary.com/dug99qncm/image/upload/v1615961283/website/bringjalwatercan_landing_page.jpg"
          alt="cardImg" class="imgCard" /> -->
        <div class="container mt-2">
          <div class="row">
            <!-- Card 1 -->
            <div class="col-md-3 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <div>✅</div>
                  <div>Business Owner Business Owner</div>
                </div>
              </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-3 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <div>✅</div>
                  <div>Business Owner</div>
                </div>
              </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-3 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <div>✅</div>
                  <div>Card 4</div>
                </div>
              </div>
            </div>
            <!-- Card 4 -->
            <div class="col-md-3 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <div>✅</div>
                  <div>Card 4</div>
                </div>
              </div>
            </div>
            <!-- Card 4 -->
            <div class="col-md-3 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <div>✅</div>
                  <div>Card 4</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Normal Big Cards -->

  <section class="cardContainer">
    <div class="cards">
      <h2 class="cardHeading">Who Can Attend The Workshop?</h2>
      <div class="">
        <!-- <img
          src="https://res.cloudinary.com/dug99qncm/image/upload/v1615961283/website/bringjalwatercan_landing_page.jpg"
          alt="cardImg" class="imgCard" /> -->
        <div class="container mt-2">
          <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4 col-lg-4">
              <div class="card">
                <div class="card-body-lg">
                  <div>
                    <img
                      src="https://cdn.prod.website-files.com/63c698560a57ab3deb917f5a/65cddfed9edc17f970eecefd_Rectangle%20160.webp"
                      loading="lazy" alt="Dropdown Icon" class="bigCard-icon" />
                  </div>
                  <div>
                    <h1>Business Owner Business Odwner</h1>
                  </div>
                  <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat animi rem vero quaerat. Magni
                      quis consequatur eaque dicta? Sunt placeat blanditiis est perspiciatis assumenda quibusdam tempore
                      porro animi, doloremque libero?</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-4 col-lg-4">
              <div class="card">
                <div class="card-body-lg">
                  <div>
                    <img
                      src="https://cdn.prod.website-files.com/63c698560a57ab3deb917f5a/65cddfed9edc17f970eecefd_Rectangle%20160.webp"
                      loading="lazy" alt="Dropdown Icon" class="bigCard-icon" />
                  </div>
                  <div>
                    <h1>Business Owner Business Odwner</h1>
                  </div>
                  <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat animi rem vero quaerat. Magni
                      quis consequatur eaque dicta? Sunt placeat blanditiis est perspiciatis assumenda quibusdam tempore
                      porro animi, doloremque libero?</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4 col-lg-4">
              <div class="card">
                <div class="card-body-lg">
                  <div>
                    <img
                      src="https://cdn.prod.website-files.com/63c698560a57ab3deb917f5a/65cddfed9edc17f970eecefd_Rectangle%20160.webp"
                      loading="lazy" alt="Dropdown Icon" class="bigCard-icon" />
                  </div>
                  <div>
                    <h1>Business Owner</h1>
                  </div>
                  <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat animi rem vero quaerat. Magni
                      quis consequatur eaque dicta? Sunt placeat blanditiis est perspiciatis assumenda quibusdam tempore
                      porro animi, doloremque libero?</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Card 4 -->
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- <section class="cardContainerBig">
    <div class="">
      <h2 class="cardHeading">Discover AI Frameworks For Consulting Success</h2>
    </div> -->
  <!-- Card 1 -->
  <!-- <div class="bigCards-container">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="cards">
              <div class="card-body">
                Content for Card 1
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                Content for Card 3
              </div>
            </div>
          </div>
        </div>
      </div> -->

  <!--  -->
  <!-- <div class="bigCard">
        <div class="bigCard-header">
          <img
            src="https://cdn.prod.website-files.com/63c698560a57ab3deb917f5a/65cddfed9edc17f970eecefd_Rectangle%20160.webp"
            loading="lazy" alt="Dropdown Icon" class="bigCard-icon" />
        </div>
        <div class="bigCard-body">
          <div class="bigCard-title">The 4-step Magic Prompt formula</div>
          <div class="bigCard-description">
            Unlock the full potential of ChatGPT using the magic prompt formula
            to produce the most accurate, precise, and reliable information at
            your fingertips.
          </div>
        </div>
      </div> -->
  <!-- Repeat .bigCard div for other cards -->
  <!-- Card 2 -->
  <!-- <div class="bigCard">
        <div class="bigCard-header">
          <img
            src="https://cdn.prod.website-files.com/63c698560a57ab3deb917f5a/65cddfed9edc17f970eecefd_Rectangle%20160.webp"
            loading="lazy" alt="Dropdown Icon" class="bigCard-icon" />
        </div>
        <div class="bigCard-body">
          <div class="bigCard-title">The 4-step Magic Prompt formula</div>
          <div class="bigCard-description">
            Unlock the full potential of ChatGPT using the magic prompt formula
            to produce the most accurate, precise, and reliable information at
            your fingertips.
          </div>
        </div>
      </div> -->
  <!-- card 3 -->
  <!-- <div class="bigCard">
        <div class="bigCard-header">
          <img
            src="https://cdn.prod.website-files.com/63c698560a57ab3deb917f5a/65cddfed9edc17f970eecefd_Rectangle%20160.webp"
            loading="lazy" alt="Dropdown Icon" class="bigCard-icon" />
        </div>
        <div class="bigCard-body">
          <div class="bigCard-title">The 4-step Magic Prompt formula</div>
          <div class="bigCard-description">
            Unlock the full potential of ChatGPT using the magic prompt formula
            to produce the most accurate, precise, and reliable information at
            your fingertips.
          </div>
        </div>
      </div> -->
  <!-- </div>
  </section> -->
  <!-- FAQ -->
  <section class="FAQContainer">
    <div class="FAQs">
      <h1 class="FAQHeading">FAQs</h1>
      <!-- FAQ Items -->
      <div *ngFor="let faq of faqs; let i = index" class="categoryFAQs" (click)="toggleFAQ(i)">
        <div class="ContentCategory">
          <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-start gap-3">
              <div class="mt-2">
                <strong>{{ faq.title }}</strong>
              </div>
            </div>
            <div class="faq-chevron w-embed"
              [ngStyle]="{ transform: selectedFAQIndex === i ? 'rotate(180deg)' : 'rotate(0deg)', transition: 'transform 0.3s ease' }">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="#000" viewBox="0 0 512 512">
                <path
                  d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
                </path>
              </svg>
            </div>
          </div>
          <div class="tp" *ngIf="selectedFAQIndex === i">
            <ul role="list" class="list-11 _16top">
              <li class="list-item">{{ faq.content }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center join_now_FAQ">
      <h2 class="join_FAQ_Heading">Still not convinced?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa animi perferendis vel incidunt rem reprehenderit
        atque harum soluta dolores commodi, exercitationem aliquam minus fugit, iste dolorum adipisci deserunt. Enim,
        expedita.😁
      </p>
      <div class="Join_nowBtn">
        <button class="btn_join_FAQ">Join Now</button>
      </div>
    </div>
  </section>

</div>