<app-background-effect></app-background-effect>
<div class="col-12">
  <div class="hero-section padding-top">
    <div class="site-wrapper hero-wrapper">
      <h1 class="hero-heading">
        PREMIUM WATER CAN WITH MINERALS AT AFFORDABLE PRICE
      </h1>
      <h1 class="heading">
        PREMIUM WATER WITH MINERALS CAN AT AFFORDABLE PRICE
      </h1>
      <div class="html-embed-2 w-embed">
        <video
          width="100%"
          height="100%"
          style="border-radius: 8px"
          poster="https://res.cloudinary.com/dug99qncm/image/upload/dpr_auto,f_auto,q_auto:low/v1615961283/website/bringjalwatercan_landing_page.jpg"
        ></video>
      </div>

      <div class="div-block-10">
        <a
          routerLink="/india/book-bringjal-watercan"
          class="cta-big w-inline-block"
        >
          <div>Sign Up For <br />Water Can Delivery <br /></div>
        </a>
        <div class="div-block-11"></div>
      </div>
      <div class="hero-main-grid">
        <div
          id="w-node-_9e149951-9156-4d0c-4f18-47ac98ae0eca-072023a4"
          class="hero-cards-grid"
        >
          <div class="hero-card">
            <div class="hero-metric-container">
              <img
                src="https://res.cloudinary.com/dug99qncm/image/upload/dpr_auto,q_auto:low/v1617953822/website/people_bringjal.svg"
                alt=""
                class="hero-metric-img"
                loading="lazy"
              />
              <div class="hero-metric">
                <span>49,00,000</span><span class="green-text-span">+</span>
              </div>
            </div>
            <div class="text-block-10">Litres of Water Delivered</div>
          </div>
          <div class="hero-card">
            <div class="hero-metric-container">
              <img
                src="https://res.cloudinary.com/dug99qncm/image/upload/dpr_auto,q_auto:low/v1617953996/website/bringjal_stars.svg"
                alt=""
                class="hero-metric-img"
                loading="lazy"
              />
              <div class="hero-metric">
                <span>4.7</span><span class="green-text-span">/</span>5
              </div>
            </div>
            <div class="text-block-9">Average rating on Google</div>
          </div>
          <div
            id="w-node-_6e150a3a-abf9-4a0d-a6b9-98e8f91f346c-072023a4"
            class="hero-card bbig"
          >
            <p class="hero-subheading">
              Purest<span class="yellow-span"> water</span>in safest
              <span class="yellow-span">containers</span> delivered with
              <span class="yellow-span">just a press on device</span>which is
              absoulutely free
            </p>
          </div>
        </div>
        <div class="html-embed-3 w-embed">
          <video
            width="100%"
            height="100%"
            style="border-radius: 8px"
            poster="https://res.cloudinary.com/dug99qncm/image/upload/dpr_auto,f_auto,q_auto:low/v1615961283/website/bringjalwatercan_landing_page.jpg"
          ></video>
        </div>
        <div
          id="w-node-_78d049e1-f2e3-344f-f14b-10a553e9d08e-072023a4"
          class="div-block-12"
        ></div>
      </div>
      <div class="div-block-9">
        <a
          routerLink="/india/book-bringjal-watercan"
          (click)="buttonOfInterestClicked()"
          class="cta-big w-inline-block"
        >
          <div>Sign Up For Water Can Delivery</div>
        </a>
      </div>
    </div>
  </div>
</div>
