.btn-outline-success{
    border-color: #EDBF3F;
    color: #EDBF3F;
}

.btn-outline-success:hover {
    background-color: #EDBF3F;
    color: #051c26;
}

.dropdown-menu-bg{
    background-color: #112934;
    color: #EDBF3F;
}
.dropdown-item{
    color: #EDBF3F;
}

.dropdown-item:active{
    background-color: #EDBF3F;
}