.btn-color-yellowGreen {
  background-color: yellowgreen;
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 17 px;
  font-family: "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

a {
  cursor: pointer;
}
