<div class="container site-wrapper bg-light">
    <div class="row pt-5">
      <section class="pb-5 text-center">
        <h2 class="px-3">What our customers say about us?</h2>
        <div class="row pt-5">
          <div class="col-9 mx-auto bg-white">
            <ngb-carousel  [interval]="10000"
              class="testimonial-carousel">
              <ng-template ngbSlide>
                <div class="testimonial">
                  <div class="avatar mx-auto mb-4">
                    <img
                      src="https://res.cloudinary.com/dug99qncm/image/upload/q_auto:eco,f_auto,w_500,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1598616775/website/bringjal_customer_hemalatha_sridhar.jpg"
                      class="rounded-circle img-fluid" alt="Bringjal customer Hemalatha Sridhar" loading="lazy">
                  </div>
                  <p class="hero-subheading-rv">
                    <i fas icon="quote-left"></i> Had bad experience with Bisleri water delivery service. Googled
                    about other water services in our area when I stumbled upon Bringjal. Didn't know anything
                    about it and called about delivery to our place in Mahadevapura. I got water the same day and
                    whenever I have placed an order, I get it the same day. Water cans are clean. They are
                    disinfected at the time of delivery in front of us. Payment is super easy. The delivery person
                    is also very friendly and courteous. Based on my experience, would definitely recommend others
                    to give it a try.<span id="textcolor">I came across Bringjal through google search when I
                      searched for water can delivery service near me. Even though I placed the order on emergency
                      the team understood my concern and provided me water cans. Delivery boy wears face mask
                      during water can delivery and they have option for contactless payment</span>
                  </p>
                  <h4 class="font-weight-bold">Hemalatha Sridhar</h4>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="testimonial">
                  <div class="avatar mx-auto mb-4">
                    <img
                      src="https://res.cloudinary.com/dug99qncm/image/upload/q_auto:eco,f_auto,w_500,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1598616775/website/bringjal_customer_priyanka_moktan.jpg"
                      class="rounded-circle img-fluid" alt="Bringjal customer priyanka moktan" loading="lazy">
                  </div>
                  <p class="hero-subheading-rv">
                    <i fas icon="quote-left"></i> It’s was a great relief when I got to know about Bringjal when I
                    visited a friends house. The local 20 litre Bisleri water that I had been ordering was not
                    meeting the quality and hygiene standards. The water had white particles always and I was not
                    able to find a better solution hence I had been ordering the 5 litre and 10 litre cans which’s
                    is quite expensive for regular drinking water. Bringjal is the solution to all the water
                    problems & hassle free. You get 3 clean water cans right at your door step hassle free with a
                    tap of a button.
                  </p>
                  <h4 class="font-weight-bold">Priyanka Moktan</h4>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="testimonial">
                  <div class="avatar mx-auto mb-4">
                    <img
                      src="https://res.cloudinary.com/dug99qncm/image/upload/q_auto:eco,f_auto,w_500,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1598616775/website/bringjal_customer_sayani_basu.jpg"
                      class="rounded-circle img-fluid" alt="Bringjal customer Sayani Basu" loading="lazy">
                  </div>
                  <!--Content-->
                  <p class="hero-subheading-rv">
                    <i fas icon="quote-left"></i> I have been taking the service for more than 4 months now and I
                    must give 5 star. Ordering water cans is made hassle free with just a press on a device. Water
                    quality is brilliant, cans are sanitised and I appreciate the polite behaviour of the team.
                    All in all I’m glad to find Bringjal...thumps up to the entire team!<span
                      id="textcolor">Thanks to google search, I came across Bringjal, when I searched about
                      Bisleri delivery service. The team explained me, all the quality standards they maintain for
                      every water can. Water cans delivery is as per promised time.</span>
                  </p>
                  <h4 class="font-weight-bold">Sayini Basu</h4>
                  <!--Review245 A170-->
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="testimonial">
                  <div class="avatar mx-auto mb-4">
                    <img
                      src="https://res.cloudinary.com/dug99qncm/image/upload/q_auto:eco,f_auto,w_500,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1598616775/website/bringjal_customer_bhavna.jpg"
                      class="rounded-circle img-fluid" alt="Bringjal customer bhavna" loading="lazy">
                  </div>
                  <!--Content-->
                  <p class="hero-subheading-rv">
                    <i fas icon="quote-left"></i> I came across this profile as an ad on Instagram and
                    decided to check it out. I'm glad that I contacted the team. It's an interesting concept and I
                    signed
                    up for 6 months. It's been really good so far. Looking forward to be a permanent
                    customer.<span id="textcolor">I am glad that I have found Bringjal when I googled water
                      supplier near me for getting water can 20 ltr delivery for me. They have removed hassle of
                      calling the water supplier again and again completely. Bringjal can provide you best water
                      can supply in Bangalore. There water cans are always clean.</span>
                  </p>
                  <h4 class="font-weight-bold">Bhavna Punjabi</h4>
                  <!--Review245 A170-->
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="testimonial">
                  <div class="avatar mx-auto mb-4">
                    <img
                      src="https://res.cloudinary.com/dug99qncm/image/upload/q_auto:eco,f_auto,w_500,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1598616775/website/bringjal_customer_vikas.jpg"
                      class="rounded-circle img-fluid" alt="Bringjal customer vikas" loading="lazy">
                  </div>
                  <!--Content-->
                  <p class="hero-subheading-rv">
                    <i fas icon="quote-left"></i> Had amazing experience with Bringjal. Starting from the
                    moment of ordering from their website to the moment of delivery, everything is smooth. With
                    the
                    smart
                    device they provide, you don't have to go into hassle of calling again and again to order
                    water. The
                    quality and taste of water is superb. The bottle too is crystal clear so you don't have to
                    worry
                    about
                    the hygiene. Try it once and you'll love the service.<span id="textcolor">Water taste is good
                      and also containers are always clean. Compared to other water can brands available near me,
                      Bringjal is super</span>
                  </p>
                  <h4 class="font-weight-bold">Vikas Dhuran</h4>
                  <!--Review415 A0-->
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="testimonial">
                  <div class="avatar mx-auto mb-4">
                    <img
                      src="https://res.cloudinary.com/dug99qncm/image/upload/q_auto:eco,f_auto,w_500,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1598616775/website/bringjal_customer_subharaj.jpg"
                      class="rounded-circle img-fluid" alt="Bringjal customer subharaj" loading="lazy">
                  </div>
                  <!--Content-->
                  <p class="hero-subheading-rv">
                    <i fas icon="quote-left"></i> First of all the I just wanted to congratulate the team
                    to
                    come up with such an innovative idea. I was really searching for a app like this for sometime.
                    And I
                    found better in the form of a device. Just one click and clean water (better than even some
                    Big
                    brands). So kudos to the team. I am satisfied.<span id="textcolor">I am glad to find Bringjal
                      when I was searching for water delivery app in Bang alore for my drinking water needs.
                      Drinking water supply in our area is not very good, then I found about Bringjal. Their
                      service is very good and very convenient.&nbsp;</span>
                  </p>
                  <h4 class="font-weight-bold">Subharaj Chakraborty</h4>
                  <!--Review 302 A113-->
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="testimonial">
                  <div class="avatar mx-auto mb-4">
                    <img
                      src="https://res.cloudinary.com/dug99qncm/image/upload/q_auto:eco,f_auto,w_500,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1598616775/website/bringjal_customer_raghu.jpg"
                      class="rounded-circle img-fluid" alt="Bringjal customer raghu" loading="lazy">
                  </div>
                  <!--Content-->
                  <p class="hero-subheading-rv">
                    <i fas icon="quote-left"></i> Using since more than one month. Quality of water is
                    good.
                    packaging and maintenance is nice. Good response from the team. Delivery is prompt. Overall a
                    very
                    nice experience.<span id="textcolor">Was using Bisleri from long time before shifting to
                      Bringjal. I was having some issues with water supplier with respect to water delivery
                      service in Bangalore. Luckily I found out Bringjal on google when I searched for water
                      delivery service near me and subscribed to their package immediately after speaking with
                      there great team. Bringjal is one stop for drinking water</span>
                  </p>
                  <h4 class="font-weight-bold">Raghu Sandilya</h4>
                  <!--Review 173 A242-->
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                  <i class="fas fa-star green-text"> </i>
                </div>
              </ng-template>
            </ngb-carousel>
            <!--/.Carousel Wrapper-->
          </div>
        </div>

      </section>
    </div>
  </div>