.img-fluid {
    max-width: 20%;
  }

  .site-wrapper {
    width: 100%;
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
  }
  @media screen and (max-width: 991px) {
    .img-fluid {
        max-width: 60%;
      }
  }

  @media screen and (max-width: 767px) {
    .img-fluid {
        max-width: 70%;
      }
  }

  @media screen and (max-width: 479px) {
    .img-fluid {
        max-width: 80%;
      }

      .site-wrapper{
    padding-right: 24px;
    padding-left: 24px;
  }
  }