<div class="row bg-secondary-color d-flex justify-content-center align-items-center">
    <div class="col-md-4 col-12 bg-secondary-color">
      
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 text-center">
            <ng-lottie width="40%" [options]="wifiOptions"></ng-lottie>                
          </div>
          <div class="col-12 text-center">
            <img
            src="https://res.cloudinary.com/dug99qncm/image/upload/dpr_auto,f_auto,q_auto:low/v1554737316/website/bringjal_droppy_to_order_water_can.png"
            alt="Bringjal presents droppy to order water_can" class="" style="max-height: 300px" loading="lazy">
          </div>
        </div>
      
      
    </div>
    <div class="col-md-8 col-12 bg-secondary-color">
      <div class="e-card playing">
        <div class="container-fluid textClass">
          <div class="row p-3 p-md-4">
            <div class="col-12">
              <h1 class="text-dark text-center pb-2 pb-md-4">Just Pree To Order On DropPy!!</h1>
            </div>
            <div class="col-12 ">
              <h3 class="text-dark "><i class="bi bi-star-fill "></i>&nbsp;&#8377;1600/- worth device absolutely free</h3>
              <h5 class="text-dark-slate pb-2 pb-md-3 ">We collect a small deposit amount for DropPy, which will be returned no questions
                asked if you choose to discontinue our service. Thus making DropPy absolutely free of cost.</h5>

              <h3 class="text-dark"><i class="bi bi-star-fill "></i>&nbsp;Simplicity at its core</h3>
              <h5 class="text-dark-slate pb-2 pb-md-3">We all hate user manuals, so we have designed DropPy to make sure that you
                  will not require one. Working Wi-Fi connection is all you need from your side.</h5>

              <h3 class="text-dark"><i class="bi bi-star-fill "></i>&nbsp;Free maintenance and servicing</h3>
              <h5 class="text-dark-slate pb-2 pb-md-3">All the cost with respect to DropPy, be it installation, maintenance or
                    service is free. Though DropPy is very robust, any problems which you will encounter will be addressed
                    by our service team, free of cost.</h5>
              
              <h4 class="float-end text-dark pt-3 pt-md-5"><a><u>Click here to know more about DropPy</u></a></h4>

            </div>
          </div>
        </div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        
      
           
            
      </div>
    </div>
  </div>