<div class="bg-image">
  <img
    src="https://res.cloudinary.com/dug99qncm/image/upload/dpr_auto,f_auto,q_auto:low/v1554737346/website/bringjal_droppy_devices.jpg"
    class="w-100"
    alt="Sample"
  />
  <div class="position-absolute top-50 start-50 translate-middle overlay">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="row">
        <div class="col-12">
          <h2 class="display-3 text-white">YOU PRESS..WE DROP</h2>
        </div>
      </div>
    </div>
  </div>
</div>