@if (loaderEnable) {
  <app-custom-loader></app-custom-loader>
  }@else{
<div class="w-full max-w-screen-2xl mx-auto p-2 text-gray-900">
  <form
    [formGroup]="fPasswordMobileForm"
    (ngSubmit)="onNumFPSubmit()"
    class="space-y-6"
  >
    <div class="flex justify-end" *ngIf="errFPassNum">
      <div
        class="bg-red-100/30 dark:bg-red-100/10 dark:text-red-100 backdrop-blur text-red-900 px-4 py-2 rounded relative"
        role="alert"
      >
        <span class="block sm:inline md:text-lg text-sm">{{
          errFPassNum
        }}</span>
      </div>
    </div>

    <div class="space-y-2">
      <div class="relative">
        <input
          type="tel"
          id="mobile"
          name="mobile"
          formControlName="mobile"
          class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-gray-500 focus:border-gray-500 bg-white/10 backdrop-blur pl-10"
          placeholder="Mobile Number"
        />
      </div>
      <div
        *ngIf="
          !fPasswordMobileForm.get('mobile')?.valid &&
          fPasswordMobileForm.get('mobile')?.touched
        "
        class="space-y-1"
      >
        <div
          *ngIf="fPasswordMobileForm.get('mobile')?.errors?.['required']"
          class="flex items-center text-red-500 text-sm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 mr-1"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
              clip-rule="evenodd"
            />
          </svg>
          Mobile Number is Required
        </div>
        <div
          *ngIf="fPasswordMobileForm.get('mobile')?.errors?.['pattern']"
          class="flex items-center text-red-500 text-sm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 mr-1"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
              clip-rule="evenodd"
            />
          </svg>
          Please Enter valid Mobile Number
        </div>
      </div>
    </div>

    <button
      type="submit"
      [disabled]="!fPasswordMobileForm.valid || dBtnFpNum"
      class="w-full bg-green-500 dark:bg-green-500/30 backdrop-blur text-gray-100 hover:text-gray-200 py-3 px-4 text-center text-xl md:text-2xl rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-colors duration-200 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      Submit
    </button>
  </form>
</div>
  }