<main class="container-fluid">
  <!-- Navbar Section -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark p-2">
    <div class="container d-flex justify-content-between mx-auto">
      <a class="navbar-brand text-light logoImg" href="https://www.bringjal.com/enterprise" target="_blank"></a>
    </div>
  </nav>
  <!-- Main Section -->
  <section class="py-5 px-3 d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="container">
      <div class="card shadow-lg rounded border-0">
        <div class="card-body p-4">
          <h4 class="card-title mb-4 text-center">Create New Password</h4>
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group position-relative mb-3">
              <label for="newPassword">New Password</label>
              <div class="input-group">
                <input type="password" id="newPassword" formControlName="newPassword" class="form-control"
                  placeholder="Enter new password" [type]="isPasswordVisible ? 'text' : 'password'" />
                <!-- Eye icon SVG -->
                <div class="input-group-append">
                  <span class="input-group-text eye-icon" (click)="togglePasswordVisibility()">
                    <img [src]="isPasswordVisible ? './assets/icons/EyeVisible.svg' : './assets/icons/EyeDiable.svg'"
                      alt="Toggle password visibility" />
                  </span>
                </div>
              </div>
              <small *ngIf="newPassword.invalid && newPassword.touched" class="form-text text-danger">
                Password is required and must be at least 8 characters long, including letters, numbers, and special
                characters. <br>
                EX Password Like: Pa$$w0rd!
              </small>
            </div>

            <div class="form-group position-relative mb-3">
              <label for="confirmPassword">Re-enter Password</label>
              <div class="input-group">
                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
                  placeholder="Re-enter password" [type]="isConfirmPasswordVisible ? 'text' : 'password'" />
                <!-- Eye icon SVG -->
                <div class="input-group-append">
                  <span class="input-group-text eye-icon" (click)="toggleConfirmPasswordVisibility()">
                    <img
                      [src]="isConfirmPasswordVisible ? './assets/icons/EyeVisible.svg' : './assets/icons/EyeDiable.svg'"
                      alt="Toggle confirm password visibility" />
                  </span>
                </div>
              </div>
              <small *ngIf="hasPasswordMismatchError()" class="form-text text-danger">
                Passwords do not match.
              </small>
            </div>
            <button type="submit" class="btn btn-success mt-3 w-100"
              [disabled]="passwordForm.invalid || passwordForm.pristine">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
