.style-786 {

    font-family: 'SF Pro Display', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(29, 29, 31);
    
}

.style-787 {
    color: rgb(134, 134, 139);
}