<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a  class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/Bringjal" target="_blank" role="button">
            <i class="bi bi-facebook"></i>
        </a>

        <!-- Twitter -->
        <a  class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/BringJal" target="_blank" role="button"
          ><i class="bi bi-twitter"></i></a>

        <!-- Google -->
        <a  class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/channel/UCyZ8iHbupDaaSioXoEIdg8Q" target="_blank" role="button"
          ><i class="bi bi-youtube"></i
        ></a>

        <!-- Instagram -->
        <a  class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/bringjal/" target="_blank" role="button"
          ><i class="bi bi-instagram"></i></a>

        <!-- Linkedin -->
        <a  class="btn btn-outline-light btn-floating m-1" href="https://in.linkedin.com/company/bringjal-innovations-pvt-ltd" target="_blank" role="button"
          ><i class="bi bi-linkedin"></i></a>


      </section>
      <!-- Section: Social media -->




      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Company</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-white" routerLink="/info/about-us" target="_blank">About us</a>
            </li>
              <li>
                <a class="text-white" href="https://goo.gl/forms/0K1bAFZ2iATILNvE2" target="_blank">Partner with us</a>
            </li>
              <li>
                <a class="text-white" href="https://goo.gl/forms/h3pyK8yKL4LDUrpB2" target="_blank">Deliver with us</a>
            </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Legal</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-white" routerLink="/info/terms" target="_blank">Terms & conditions</a>
            </li>
              <li>
                <a class="text-white" routerLink="/info/refund" target="_blank">Refund & Cancellation</a>
            </li>
              <li>
                <a class="text-white" routerLink="/info/privacy" target="_blank">Privacy policy</a>
            </li>
              <li>
                <a class="text-white" routerLink="/info/disclaimer" target="_blank">Disclaimer</a>
            </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact us</h5>

            <ul class="list-unstyled mb-0">
                <li>
                    <a href="tel:+918801063999" class="text-white">
                        <i class="bi bi-telephone-forward"></i>&nbsp;+918801063999</a>
                </li>
                <li>
                    <!-- <a href="mailto:info@bringjal.com"  class="text-white">
                        <i class="bi bi-envelope-at-fill"></i>&nbsp;&nbsp;info bringjal.com</a> -->
                    <a href="mailto:info@bringjal.com" class="text-white">
                        <i class="bi bi-envelope"></i>&nbsp;info&#64;bringjal.com
                    </a>
                </li>

            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Visit us</h5>

            <ul class="list-unstyled mb-0">
                <li>Bringjal Innovations Pvt. Ltd.</li>
                <li>2<sup>nd</sup> Main Road, Vignan Nagar,</li>
                <li>Bangalore - 560075</li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024  Copyright: Bringjal Innovations Pvt. Ltd.
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
