<div class="modal-header">
    <h4 class="modal-title text-center" id="modal-title">Signup</h4>
    <button
        type="button"
        class="btn-close"
        aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')"
    ></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="col-12">
            <app-signup (operationSuccess)="operationSuccess($event)"></app-signup>            
        </div>
        
    </div>
</div>
<div class="modal-footer">
    <div class="text-muted">
        Already registered? <a (click)="showLogin()" class="btn btn-outline-primary btn-sm">Login</a>
    </div>
</div>