<div class="container-fluid MainBg">
  <!-- Product Section -->
  <section class="productSection">
    <div class="products">
      <h1 class="productHeading">Who is this Bringjel for?</h1>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="nft-who-item tech-shadow excel-shadow">
              <div class="w-embed mx-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#008000" viewBox="0 0 448 512">
                  <path
                    d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
                  </path>
                </svg>
              </div>
              <div class="pub-who-text tech">
                Data Analysts & Data Scientists
              </div>
            </div>
          </div>
          <!-- Repeat the above div for additional items -->
          <div class="col-12 col-md-6">
            <div class="nft-who-item tech-shadow excel-shadow">
              <div class="w-embed mx-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#008000" viewBox="0 0 448 512">
                  <path
                    d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
                  </path>
                </svg>
              </div>
              <div class="pub-who-text tech">
                Data Analysts & Data Scientists
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="nft-who-item tech-shadow excel-shadow">
              <div class="w-embed mx-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#008000" viewBox="0 0 448 512">
                  <path
                    d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
                  </path>
                </svg>
              </div>
              <div class="pub-who-text tech">
                Data Analysts & Data Scientists
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="nft-who-item tech-shadow excel-shadow">
              <div class="w-embed mx-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#008000" viewBox="0 0 448 512">
                  <path
                    d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
                  </path>
                </svg>
              </div>
              <div class="pub-who-text tech">
                Data Analysts & Data Scientists
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="nft-who-item tech-shadow excel-shadow">
              <div class="w-embed mx-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#008000" viewBox="0 0 448 512">
                  <path
                    d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
                  </path>
                </svg>
              </div>
              <div class="pub-who-text tech">
                Data Analysts & Data Scientists
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="nft-who-item tech-shadow excel-shadow">
              <div class="w-embed mx-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#008000" viewBox="0 0 448 512">
                  <path
                    d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
                  </path>
                </svg>
              </div>
              <div class="pub-who-text tech">
                Data Analysts & Data Scientists
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="nft-who-item tech-shadow excel-shadow">
              <div class="w-embed mx-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#008000" viewBox="0 0 448 512">
                  <path
                    d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
                  </path>
                </svg>
              </div>
              <div class="pub-who-text tech">
                Data Analysts & Data Scientists
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="nft-who-item tech-shadow excel-shadow">
              <div class="w-embed mx-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#008000" viewBox="0 0 448 512">
                  <path
                    d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
                  </path>
                </svg>
              </div>
              <div class="pub-who-text tech">
                Data Analysts & Data Scientists
              </div>
            </div>
          </div>
          <!-- end of tech -->
        </div>
      </div>
    </div>
  </section>
  <!-- Category Section -->
  <section class="category-section px-3">
    <h1 class="text-center mb-5 catHead">
      What will you <span class="text-success">learn</span> in the workshop?
    </h1>
    <div class="category">
      <div class="ContentCategory">
        <div *ngFor="let card of cards; let i = index">
          <div class="d-flex justify-content-between" (click)="toggleCard(i)">
            <div class="d-flex justify-content-start gap-3">
              <div class="item-icon-container tech excel-ad">
                <div class="w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="#008000" width="24px" height="24px"
                    viewBox="0 0 640 512">
                    <path
                      d="M184 48H328c4.4 0 8 3.6 8 8V96H176V56c0-4.4 3.6-8 8-8zm-56 8V96H64C28.7 96 0 124.7 0 160v96H192 352h8.2c32.3-39.1 81.1-64 135.8-64c5.4 0 10.7 .2 16 .7V160c0-35.3-28.7-64-64-64H384V56c0-30.9-25.1-56-56-56H184c-30.9 0-56 25.1-56 56zM320 352H224c-17.7 0-32-14.3-32-32V288H0V416c0 35.3 28.7 64 64 64H360.2C335.1 449.6 320 410.5 320 368c0-5.4 .2-10.7 .7-16l-.7 0zm320 16a144 144 0 1 0 -288 0 144 144 0 1 0 288 0zM496 288c8.8 0 16 7.2 16 16v48h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H496c-8.8 0-16-7.2-16-16V304c0-8.8 7.2-16 16-16z">
                    </path>
                  </svg>
                </div>
              </div>
              <div class="mt-2">
                <strong>{{ card.title }}</strong>
              </div>
            </div>
            <div class="faq-chevron w-embed">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="#008000" viewBox="0 0 512 512">
                <path
                  d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
                </path>
              </svg>
            </div>
          </div>
          <div *ngIf="activeCardIndex === i" class="tp">
            <ul role="list" class="list-11 _16top">
              <li class="list-item">
                {{ card.content }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  Cards Section -->
  <section class="cards-section">
    <h1 class="text-center my-5 mx-2">Register Before Midnight of September 3, 2024 to
      <span class="text-success"> Unlock Bonuses Worth ₹5,999+ for FREE!</span>
    </h1>
    <div class="cards">
      <div class="card1">
        <div>
          <h1 class="headingCard">card1</h1>
          <img
            src="https://res.cloudinary.com/dug99qncm/image/upload/dpr_auto,f_auto,q_auto:low/v1615961283/website/bringjalwatercan_landing_page.jpg"
            alt="" class="Cardimg">
        </div>
        <div class="card1Des">
          <p>Lorem, ipsum dolor. Lorem ipsum</p>

          <p class="priceCard">Value ₹1,599/-</p>
        </div>
      </div>
      <!-- card2 -->
      <div class="card1">
        <div>
          <h1>card1</h1>
          <img
            src="https://res.cloudinary.com/dug99qncm/image/upload/dpr_auto,f_auto,q_auto:low/v1615961283/website/bringjalwatercan_landing_page.jpg"
            alt="" class="Cardimg">
        </div>
        <div class="card1Des">
          <p>Lorem, ipsum dolor. Lorem ipsum</p>

          <p class="priceCard">Value ₹1,599/-</p>
        </div>
      </div>
      <!-- card3 -->
      <div class="card1">
        <div>
          <h1>card1</h1>
          <img
            src="https://res.cloudinary.com/dug99qncm/image/upload/dpr_auto,f_auto,q_auto:low/v1615961283/website/bringjalwatercan_landing_page.jpg"
            alt="" class="Cardimg">
        </div>
        <div class="card1Des">
          <p>Lorem, ipsum dolor. Lorem ipsum</p>

          <p class="priceCard">Value ₹1,599/-</p>
        </div>
      </div>
      <!-- card4 -->
      <div class="card1">
        <div>
          <h1>card1</h1>
          <img
            src="https://res.cloudinary.com/dug99qncm/image/upload/dpr_auto,f_auto,q_auto:low/v1615961283/website/bringjalwatercan_landing_page.jpg"
            alt="" class="Cardimg">
        </div>
        <div class="card1Des">
          <p>Lorem, ipsum dolor. Lorem ipsum</p>

          <p class="priceCard">Value ₹1,599/-</p>
        </div>
      </div>
    </div>
  </section>
</div>