@if (loaderEnable) {
  <app-custom-loader></app-custom-loader>
  }@else{

<div class="px-4 sm:px-6 lg:px-8">
  <div class="max-w-screen mx-auto w-full space-y-8">
    <!-- Error Alert -->
    @if (errNewPassSubmit) {
    <div class="rounded-md bg-red-50 p-4 mb-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg
            class="h-5 w-5 text-red-400"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-red-800">{{ errNewPassSubmit }}</p>
        </div>
      </div>
    </div>
    }

    <form
      [formGroup]="newPasswordForm"
      (ngSubmit)="onNewPasswordSubmit()"
      class="space-y-6"
    >
      <div>
        <h2
          class="mt-6 text-xl md:text-4xl font-extrabold text-gray-900 text-center"
        >
          Set New Password
        </h2>

        <!-- Password Input -->
        <div class="mt-4 relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            name="password"
            formControlName="password"
            #passwordInput
            class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-green-500 focus:border-green-500 bg-white/10 backdrop-blur"
            placeholder="Enter New Password"
          />
          <button
            type="button"
            (click)="togglePasswordVisibility()"
            class="absolute inset-y-0 right-0 pr-3 flex items-center"
          >
            <i
              class="bi text-gray-400"
              [ngClass]="{
                'bi-eye-slash': showPassword,
                'bi-eye': !showPassword
              }"
            ></i>
          </button>
        </div>

        <!-- Password Error Messages -->
        <div
          *ngIf="
            !newPasswordForm.get('password')?.valid &&
            newPasswordForm.get('password')?.touched
          "
          class="mt-2"
        >
          <div
            *ngIf="newPasswordForm.get('password')?.errors?.['required']"
            class="text-sm text-red-600 flex items-center gap-1"
          >
            <i class="bi bi-exclamation-circle-fill"></i>
            Password is Required
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="mt-6">
        <button
          type="submit"
          [disabled]="!newPasswordForm.valid || dBtnFpNewPsw"
          class="w-full bg-green-500 dark:bg-green-500/30 backdrop-blur text-gray-100 hover:text-gray-200 py-3 px-4 text-center text-xl md:text-2xl rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-colors disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
  }
