<div class="row bg-main-color d-flex justify-content-center align-items-center">
    <div class="col-md-4 col-12 bg-main-color">
    <ng-lottie width="100%" [options]="watercansOptions"></ng-lottie>                
    </div>
    <div class="col-md-8 col-12 bg-main-color ">
      <div class="e-card playing">
        <div class="container-fluid textClass ">
          <div class="row p-3 p-md-4">
            <div class="col-12">
              <h1 class="text-light text-center pb-2 pb-md-4">Special Care Of Watercan Containers</h1>
            </div>
            <div class="col-12 ">
              <h3 class="text-light "><i class="bi bi-star-fill "></i>&nbsp;QR code tracking of cans to prevent tampering</h3>
              <h5 class="text-light-slate pb-2 pb-md-3 ">Water can seal is great, however we want to go one more step ahead to prevent tampering of watercans in the supplychain, just like your two-factor authentication for your Gmail accounts.</h5>

              <h3 class="text-light"><i class="bi bi-star-fill "></i>&nbsp;Deep cleaning of watercans</h3>
              <h5 class="text-light-slate pb-2 pb-md-3">Each watercan will be manually checked for any uncertainities and goes through rigorous cleaning process with internal external pressurewash, hot water rinsing and filteres water rinsing to make conatiner ready for next refill.</h5>

              <h3 class="text-light"><i class="bi bi-star-fill "></i>&nbsp;Safe Containers always</h3>
              <h5 class="text-light-slate pb-2 pb-md-3">We test the conatiners as per modes of conformity and duration of tests as per BIS, to provide you safe conatiners always.</h5>
              
              <h3 class="text-light"><i class="bi bi-star-fill "></i>&nbsp;Scan to get assurance of quality</h3>
              <h5 class="text-light-slate pb-2 pb-md-3">Just scan on QR code present on scan from website or enter the code present on watercan to get lab report or basic parameters of batch along with license details of water manufacturing unit, expiry date and batch number.</h5>
              
              <h4 class="float-end text-light pt-3 pt-md-5"><a><u>Click here to know more about water can tracking</u></a></h4>
            </div>
          </div>
        </div>
        <div class="wave1"></div>
        <div class="wave1"></div>
        <div class="wave1"></div>
        
      
           
            
      </div>
    </div>
  </div>