.imgHeader {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.header1 {
  display: none;
}
// Screen Media Query
@media screen and (min-width: 768px ) {
  .first-image{
    display: block;
  }
}
@media screen and (max-width: 767px ) {
    .second-image{
    display: block;
  }
}
