@if (loaderEnable) {
  <app-custom-loader></app-custom-loader>
  }@else{
<div class="px-4 sm:px-6 lg:px-8">
  <div class="max-w-screen mx-auto w-full space-y-8">
    <!-- Error Alert -->
    @if (errFOtp) {
    <div class="rounded-md bg-red-50 p-4 mb-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg
            class="h-5 w-5 text-red-400"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-red-800">{{ errFOtp }}</p>
        </div>
      </div>
    </div>
    }

    <!-- OTP Input Section -->
    <div class="text-center">
      <h2 class="mt-6 text-xl md:text-4xl font-extrabold text-gray-900">
        Enter verification code
      </h2>

      <!-- Conditionally show OTP input based on showOtpComponent -->
      <div *ngIf="showOtpComponent" class="mt-4">
        <ng-otp-input
          class="flex items-center justify-center text-md text-gray-900 border-none focus:ring-0 mx-auto"
          formControlName="otp"
          #ngOtpInput
          (onInputChange)="onOtpChange($event)"
          [config]="config"
        ></ng-otp-input>
      </div>
    </div>

    <!-- Retry Section -->
    @if (!retry) {
    <div class="mt-4 text-center text-sm text-gray-600">
      Retry again in <span class="font-medium">{{ timeLeft }}</span> seconds
    </div>
    } @else {
    <div class="mt-4 text-center text-sm text-gray-600">
      Did not receive OTP?
      <button
        class="ml-1 font-medium text-green-600 hover:text-green-500 focus:outline-none focus:underline transition ease-in-out duration-150"
        [disabled]="dBtnretry"
        (click)="otpRetry()"
      >
        Click here
      </button>
      to get OTP
    </div>
    }

    <!-- Submit Button -->
    <div class="mt-6">
      <button
        (click)="forgetPassOtpSubmit()"
        class="w-full bg-green-500 dark:bg-green-500/30 backdrop-blur text-gray-100 hover:text-gray-200 py-3 px-4 text-center text-xl md:text-2xl rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-colors"
      >
        Submit
      </button>
    </div>
  </div>
</div>
  }