
<div class="container">
    <form [formGroup]="newPasswordForm" (ngSubmit)="onNewPasswordSubmit()">
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <div class="alert alert-danger" *ngIf="errNewPassSubmit" role="alert">{{errNewPassSubmit}}</div>
            </div>
                      
            <div class="col-12 pt-4">
                <div class="form-floating mb-3 position-relative">
                  <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    name="password" 
                    formControlName="password" 
                    #passwordInput
                  />
                  <label for="password">
                    <i class="fas fa-key"></i> Password
                  </label>
                  <i 
                    class="bi" 
                    [ngClass]="{'bi-eye-slash': showPassword, 'bi-eye': !showPassword}" 
                    (click)="togglePasswordVisibility()" 
                    style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"
                  ></i>
                </div>
                <div *ngIf="!newPasswordForm.get('password')?.valid && newPasswordForm.get('password')?.touched" class="form-text text-muted red-text">
                  <div class="text-danger" *ngIf="newPasswordForm.get('password')?.errors?.['required']">
                    <span class=""><i class="bi bi-exclamation-circle-fill"></i></span>Password is Required
                  </div>
                </div>
              </div>
            
            <div class="col-12 pt-4 d-grid gap-2">
                <button class="btn btn-success" [disabled]="!newPasswordForm.valid || dBtnFpNewPsw" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>