<div class="container-fluid MainBg">
  <!-- Header Section -->
  <section class="">
    <div class="headers">
      <!-- Main Heading -->
      <h1 class="mainheading">
        Bringjel Water <span class="spanHeadinng">Quality</span>
      </h1>
      <!-- Description -->
      <p class="paraDesc">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum non
        tempore aliquam eos expedita voluptates quae aperiam eveniet! Maiores
        ipsum quidem sequi? Eum totam corporis error sequi repellendus facere
        dolores?
      </p>
    </div>
    <!-- Landing Image -->
    <div class="landingImgContainer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 px-3">
            <p class="paraDesc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
              deleniti quod quidem officia, in nemo reprehenderit inventore odio
              sapiente fuga iusto laudantium, dolor illum saepe modi! Deleniti
              facere ratione ut.
            </p>
            <div class="reviewCards my-2">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="user-card">
                      <div class="icon-container">
                        <img src="../../assets/icons/Sidebar/Wallet.svg" alt="User Orders" class="user-icon" />
                        <span class="icon-label mx-2">User Orders</span>
                      </div>
                      <h2 class="user-count">+96565</h2>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="review-card">
                      <div class="icon-container">
                        <img src="../../assets/icons/Sidebar/Deposits.svg" alt="Review" class="user-icon" />
                        <span class="icon-label mx-2">Review</span>
                      </div>
                      <h2 class="user-count">4.5/5</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="orderBtn">
              <button class="btn btn-success p-2 w-100 hiddenSm">Order Now</button>
            </div>
          </div>
          <div class="imgBtn col-md-6 col-12">
            <div class="imgCardContainer">
              <img
                src="https://res.cloudinary.com/dug99qncm/image/upload/dpr_auto,f_auto,q_auto:low/v1615961283/website/bringjalwatercan_landing_page.jpg"
                class="imgCard" alt="Landing Image" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
