<div class="modal-header">
    <h4 class="modal-title text-center" id="modal-title">Forgot Password</h4>
    <button
        type="button"
        class="btn-close"
        aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')"
    ></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center">
            @if (mobileSection) {
                <div class="col-12">
                    <app-forgotpassword-number (operationSuccess)="operationSuccess($event)"></app-forgotpassword-number>
                </div>
            }
            @if(otpSection){
                <div class="col-12">
                    <app-forgotpassword-otp [mobile]="mobile" (operationSuccess)="operationSuccessOtpVerified($event)"></app-forgotpassword-otp>
                </div>
            }
            @if (newPasswordSection) {
                <div class="col-12">
                    <app-forgotpassword-new-password [mobile]="mobile" [userid]="userid" (operationSuccess)="operationSuccessPasswordChanged($event)"></app-forgotpassword-new-password>
                </div>
            }
          
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-muted">
        Already registered? <a (click)="showLogin()" class="btn btn-light btn-sm">Login</a>
    </div>
</div>