<div class="container">
    <div class="row d-flex align-items-center grey lighten-5">
      <div class="col-12 mx-2">
        <h2 class="py-5 mr-2 mr-md-0 ml-2 ml-md-0 display-4 text-center">
          How do we <b>bring Jal</b> to your doorstep?
        </h2>
      </div>
    </div>
    <div class="row text-center grey lighten-5 pb-5  d-flex justify-content-center">
      <div class="col-lg-2 col-8 rounded  z-depth-1 col-md-5 mr-md-5 mt-md-0 mt-0 wow fadeInUp"
        data-wow-delay="0.24s">
        <div class="row pt-4 pb-4 d-flex justify-content-center ">
          <div class="col-8 pb-3">
            <img
              src="https://res.cloudinary.com/dug99qncm/image/upload/dpr_auto,f_auto,q_auto:low/v1554769126/website/water_can_20_ltr_package.png"
              class="" alt="Water can 20 ltr package">
          </div>
          <div class="col-12">
            <h6 class="h6-responsive"><b>Select your package</b></h6>
            <small class="grey-text">Select the water can brand of your choice and pay the refundable
              deposit.</small>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-8 rounded  z-depth-1 col-md-5 mt-3 mr-lg-5 mt-md-0  wow fadeInUp"
        data-wow-delay="0.24s">
        <div class="row pt-4 pb-4 d-flex justify-content-center ">
          <div class="col-8 pb-3">
            <img
              src="https://res.cloudinary.com/dug99qncm/image/upload/dpr_auto,f_auto,q_auto:low/v1554769127/website/bringjal_water_can_device_installation.png"
              class="" alt="Bringjal water can device installation" loading="lazy">
          </div>
          <div class="col-12">
            <h6 class="h6-responsive"><b>DropPy installation</b></h6>
            <small class="grey-text">Our team will install DropPy and help you with the on-boarding
              process.</small>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-8 rounded  z-depth-1 col-md-5 mt-3 mr-md-5 mt-md-3 mt-lg-0 wow fadeInUp"
        data-wow-delay="0.24s">
        <div class="row pt-4 pb-4 d-flex justify-content-center ">
          <div class="col-8 pb-3">
            <img
              src="https://res.cloudinary.com/dug99qncm/image/upload/dpr_auto,f_auto,q_auto:low/v1554769127/website/order_water_can_with_a_press.png"
              class="" alt="Order water can with a press">
          </div>
          <div class="col-12">
            <h6 class="h6-responsive"><b>Press to order</b></h6>
            <small class="grey-text">A press on DropPy is all it takes to order your water can.</small>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-8 rounded  z-depth-1 col-md-5 mt-3  mr-md-0 mt-md-3 mt-lg-0 wow fadeInUp"
        data-wow-delay="0.24s">
        <div class="row pt-4 pb-4 d-flex justify-content-center ">
          <div class="col-8 pb-3">
            <img
              src="https://res.cloudinary.com/dug99qncm/image/upload/dpr_auto,f_auto,q_auto:low/v1554769127/website/water_can_delivery_online.png"
              class="" alt="Water can delivery online" loading="lazy">
          </div>
          <div class="col-12">
            <h6 class="h6-responsive"><b>Get it delivered</b></h6>
            <small class="grey-text">Hassle-free water cans delivery to your doorstep.</small>
          </div>
        </div>
      </div>
      <div class="col-12 pt-5">
        <a routerLink="/india/book-bringjal-watercan" class="cta-big w-inline-block">
          <div>Sign Up For Free Water Can Trial</div>
          <!-- <div class="cta-text-small">Learn from the comfort of your home</div> -->
        </a>
      </div>
    </div>
  </div>
