<div class="conatiner bg-light price-section">
    <div class="row">
      <div class="col-lg-4 col-12 pb-lg-0 pb-5 d-flex align-items-center d-flex justify-content-center"
        id="mobilebg">
        <div class="row">
          <div class="col-8 text-center">
            <img
              src="https://res.cloudinary.com/dug99qncm/image/upload/c_scale,h_400,dpr_auto,q_auto:low/v1591015527/watercans/watercan.png"
              style="max-height: 40vh;" loading="lazy" />
          </div>
        </div>
      </div>
      <div class="col-lg-8 d-none d-lg-block">
        <div class="slanted slanted-left slant-to-right d-flex align-items-center">
          <div class="row " id="displayText">
            <div class="col-10 pb-2 text-center">
              <!-- <h1 class="display-5 text-white text-center">Water can delivery with Bringjal starts at &#8377;55</h1> -->
              <h1 class="hero-heading">Water can with Bringjal starts at &#8377;75</h1>
              <h1 class="heading">Water can with Bringjal starts at &#8377;75</h1>
            </div>
            <div class="col-10 text-center">
              <a routerLink="/india/book-bringjal-watercan" class="cta-big w-inline-block">
                <div>Sign Up For Free Water Can Trial</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 pb-5 pt-3 d-block d-lg-none" id="greenbg">
        <div class="d-flex align-items-center">
          <div class="row pt-5">
            <div class="col-12 px-2">
              <!-- <h1 class="display-5 text-white text-center">Water can delivery with Bringjal starts at &#8377;55</h1> -->
              <h1 class="hero-heading pl-2 pr-2">Water can with Bringjal starts at &#8377;75</h1>
              <h1 class="heading pl-2 pr-2">Water can with Bringjal starts at &#8377;75</h1>
            </div>
            <div class="col-12 text-center pb-5 pt-5 px-5">
              <a routerLink="/india/book-bringjal-watercan" class="cta-big w-inline-block">
                <div>Sign Up For Free Water Can Trial</div>
                <!-- <div class="cta-text-small">Learn from the comfort of your home</div> -->
              </a>
              <!-- <button mdbBtn type="button" color="elegant" [routerLink]="['/residential/watercan/addedAddr']"  mdbWavesEffect>Check pricing</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>