<div
  class="flex flex-col lg:flex-row justify-center items-center bg-main-color lg:p-8"
>
  <!-- Animation Section -->
  <div class="w-full lg:w-1/3 bg-main-color p-4 lg:p-6">
    <ng-lottie width="100%" [options]="labTechnicianOptions"></ng-lottie>
  </div>

  <!-- Content Section -->
  <div class="w-full lg:w-2/3 bg-main-color">
    <div
      class="playing quality-section md:rounded-3xl"
    >
      <div>
        <div class="px-4">
          <!-- Header -->
          <div class="w-full mb-6 lg:mb-8">
            <h1
              class="text-cyan-500 text-center text-2xl sm:text-3xl lg:text-4xl font-bold leading-tight mb-3"
            >
              {{ qualityData.title }}
              <span
                class="block text-lg sm:text-xl lg:text-2xl font-normal mt-2 text-blue-300"
              >
                {{ qualityData.subtitle }}
              </span>
            </h1>
          </div>

          <!-- Quality Checks Grid -->
          <div class="flex flex-wrap justify-center gap-4 font-semibold">
            <!-- Loop through each quality check -->
            <div
              *ngFor="let check of qualityData.checks"
              class="quality-check-item p-4 rounded-lg shadow-md hover:shadow-xl transition duration-300 ease-in-out w-full lg:w-[calc(50%-1rem)]"
            >
              <!-- Header with icon, title, and frequency -->
              <div class="check-header text-center mb-4">
                <i
                  [ngClass]="check.icon + ' ' + check.color"
                  class="text-xl sm:text-2xl"
                ></i>
                <h3 class="text-lg sm:text-xl font-semibold text-cyan-300 mt-2">
                  {{ check.title }}
                </h3>
                <span class="frequency text-sm text-gray-300">{{
                  check.frequency
                }}</span>
              </div>
              <!-- Description of the quality check -->
              <p class="description text-gray-200 text-sm sm:text-base mt-3">
                {{ check.description }}
              </p>
            </div>
          </div>
          <!-- CTA Button -->
          <a
            class="inline-flex items-center text-sm cursor-pointer float-right my-3 underline text-cyan-400 hover:text-cyan-600"
          >
            {{ qualityData.cta.text }}
            <i class="bi bi-arrow-right ml-2"></i>
          </a>
        </div>
        <div class="wave1"></div>
        <div class="wave1"></div>
        <div class="wave1"></div>
      </div>
    </div>
  </div>
</div>
