<!-- <div class="container">
  <form [formGroup]="fOtpForm" (ngSubmit)="forgetPassOtpSubmit()">
      <div class="row">
          <div class="col-12 d-flex justify-content-end">
              <div class="alert alert-danger" *ngIf="errFOtp" role="alert">{{errFOtp}}</div>
          </div>
           
          <div class="col-12 pt-4">
              <form>
                  <input  type="tel" id="tel" class="form-control" name="otp" formControlName="otp"/>
                  <label  class="form-label" for="otp"><i class="fas fa-mobile"></i>Enter OTP</label>
              </form>
              <small *ngIf="!fOtpForm.get('otp').valid && fOtpForm.get('otp').touched">
                  <div *ngIf="fOtpForm.get('otp').errors['required']">OTP is Required</div>
                  <div *ngIf="fOtpForm.get('otp').errors['pattern']">Please enter valid OTP</div>
                </small>
          </div>
          <div class="col-12" *ngIf="!retry">
              Retry with Call in {{timeLeft}} seconds
            </div>
            <div class="col-12" *ngIf="retry">
              Did not recieve OTP?&nbsp;<u class="green-text"><a (click)="otpRetry()" [disabled]="dBtnretry">Click here</a></u>&nbsp;to
              get OTP via call
            </div>
          <div class="col-12 pt-4 d-grid gap-2">
              <button class="btn btn-success" type="submit">Submit</button>
          </div>
      </div>
  </form>
</div> -->



<div class="container">
  <div class="row d-flex justify-content-end align-items-center">
      <div class="col-12 ">
          @if (errFOtp) {
              <div class="alert alert-danger" role="alert">{{errFOtp}}</div>
          }
      </div>

      <div class="col-12 pt-4 text-center front">
              <div>
                  <p class="a-o-i">Enter verification code</p>
                 @if (showOtpComponent) {

                     <ng-otp-input class="text-md border-none" formControlName="otp" #ngOtpInput (onInputChange)="onOtpChange($event)" 
                         [config]="config" ></ng-otp-input>
                 }
                </div>    
         
      </div>
      @if (!retry) {

          <div class="col-12 text-center pt-2" >
              Retry again in {{timeLeft}} seconds
          </div>
      }
      @else {
          <div class="col-12 text-center pt-2">
              Did not recieve OTP?&nbsp;<u class="green-text"><button class="btn btn-sm btn-link" [disabled]="dBtnretry" (click)="otpRetry() ">Click
                      here</button></u>&nbsp;to
              get OTP
          </div>
      }
      
      <div class="col-12 pt-4 d-grid gap-2">
          <button class="btn btn-success" (click)="forgetPassOtpSubmit()" type="submit">Submit</button>
      </div>
  </div>
</div>