<div class="row bg-secondary-color d-flex justify-content-center align-items-center">
    <div class="col-md-4 text-center bg-secondary-color">
      <ng-lottie width="100%" [options]="waterPurificationOptions"></ng-lottie>                
    </div>
    <div class="col-md-8 col-12 bg-secondary-color">
      <div class="e-card playing">
        <div class="container-fluid textClass ">
          <div class="row p-3 p-md-4">
            <div class="col-12">
              <h1 class="text-dark text-center pb-2 pb-md-4">Multi Stage Water Purification To Bring Best Jal</h1>
            </div>
            <div class="col-12 ">
              <h3 class="text-dark "><i class="bi bi-star-fill "></i>&nbsp;Fixed source of raw water</h3>
              <h5 class="text-dark-slate pb-2 pb-md-3 ">We make sure that our manufacturing plant has enough resource of ground water, which goes 15+ quality tests at regular interval.</h5>

              <h3 class="text-dark"><i class="bi bi-star-fill "></i>&nbsp;Various Filteration stages</h3>
              <h5 class="text-dark-slate pb-2 pb-md-3">Each water droplet passes through Carbon filter, Sand Filter, Micron-filteration, Reverse Osmosis to eliminate odour, colour, unwanted particles and excess minerals. </h5>

              <h3 class="text-dark"><i class="bi bi-star-fill "></i>&nbsp;Ultra violet Treatment & Ozonisation</h3>
              <h5 class="text-dark-slate pb-2 pb-md-3">Ozonisation and UV treatment to kill the harmful bacteria and to stop its multiplication, thereby maintaining quality in sealed condition.</h5>

              <h3 class="text-dark"><i class="bi bi-star-fill "></i>&nbsp;Mineralisation</h3>
              <h5 class="text-dark-slate pb-2 pb-md-3">For enhancing the taste and to make sure that essential mineral salts in water are retained, we include the process of mineralisation.</h5>
              
              <h4 class="float-end text-dark pt-3 pt-md-5"><a><u>Click here to know more about Water Purification</u></a></h4>

            </div>
          </div>   
        </div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
    </div>
  </div>