<div class="w-full bg-white">
  <div class="py-8 bg-white check-box-section">
    <div class="site-wrapper">
      <h2 class="section-heading">
        Please Check All Boxes<br />Where Your Answer Is YES!
      </h2>
      <div class="w-form">
        <form
          id="email-form"
          name="email-form"
          data-name="Email Form"
          class="form"
        >
          <label class="w-checkbox checkbox-field">
            <div>
              <input
                class="form-check-input"
                type="checkbox"
                id="flexCheckDefault"
                value=""
                aria-label="..."
              />
            </div>
            <span class="checkbox-label w-form-label"
              >I want to be 100% assured of the quality of the water I am
              drinking.</span
            >
          </label>
          <label class="w-checkbox checkbox-field">
            <div>
              <input
                class="form-check-input"
                type="checkbox"
                id="flexCheckDefault"
                value=""
                aria-label="..."
              />
            </div>
            <span class="checkbox-label w-form-label"
              >I want my water can conatiners clean each and every time they are
              delivered.</span
            >
          </label>
          <label class="w-checkbox checkbox-field">
            <div>
              <input
                class="form-check-input"
                type="checkbox"
                id="flexCheckDefault"
                value=""
                aria-label="..."
              />
            </div>
            <span class="checkbox-label w-form-label"
              >I don't want to call my water supplier multiple times for the
              water can delivery.</span
            >
          </label>
          <label class="w-checkbox checkbox-field">
            <div>
              <input
                class="form-check-input"
                type="checkbox"
                id="flexCheckDefault"
                value=""
                aria-label="..."
              />
            </div>
            <span class="checkbox-label w-form-label"
              >I want to to book my water can refills without using call or
              apps.</span
            >
          </label>
          <label class="w-checkbox checkbox-field">
            <div>
              <input
                class="form-check-input"
                type="checkbox"
                id="flexCheckDefault"
                value=""
                aria-label="..."
              />
            </div>
            <span class="checkbox-label w-form-label"
              >I want water cans delivered without any tampering in the process
              of delivery.</span
            >
          </label>
          <label class="w-checkbox checkbox-field">
            <div>
              <input
                class="form-check-input"
                type="checkbox"
                id="flexCheckDefault"
                value=""
                aria-label="..."
              />
            </div>
            <span class="checkbox-label w-form-label"
              >I don’t want my water cans to be exposed under direct sunlight
              which effects the water quality.</span
            >
          </label>
        </form>
      </div>
      <div class="checkox-context">
        If you checked MOST of the boxes above, then you’re invited to up.
        <span class="text-orange-500 font-bold">With Bringjal</span>, you will
        be getting all of those
      </div>
    </div>
  </div>
</div>
