<!-- Footer -->
<footer class="footer">
  <div class="d-flex justify-content-between align-content-center footerContent my-2">
    <div class="text-black">
      <h1 class="text-white">
        ₹ 499<span><sub class="original-cost">₹ 1999</sub><sub class="discount">85% OFF</sub></span>
      </h1>
      <p class="offertext">Offers Ends in 3 days</p>
    </div>
    <div class="d-flex justify-content-end align-content-center widthFooter">
      <button class="btn_joinfooter">Join Now</button>
    </div>
  </div>
</footer>