@if (loaderEnable) {
<app-custom-loader></app-custom-loader>
}@else{
<div class="w-full max-w-screen-2xl mx-auto p-2 text-gray-900">
  <form
    [formGroup]="signupForm"
    (ngSubmit)="onSignupSubmit()"
    class="space-y-6"
  >
    <div class="flex justify-end" *ngIf="errSignup">
      <div
        class="bg-red-100/30 dark:bg-red-100/10 dark:text-red-100 backdrop-blur text-red-900 px-4 py-2 rounded relative"
        role="alert"
      >
        <span class="block sm:inline md:text-lg text-sm">{{ errSignup }}</span>
      </div>
    </div>
    <div class="space-y-2">
      <div class="relative">
        <input
          type="text"
          id="name"
          name="name"
          formControlName="name"
          class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-gray-500 focus:border-gray-500 bg-white/10 backdrop-blur pl-10"
          placeholder="Name"
        />
      </div>
      <div
        *ngIf="!signupForm.get('name')?.valid && signupForm.get('name')?.touched"
        class="flex items-center text-red-500 text-sm"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 mr-1"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
            clip-rule="evenodd"
          />
        </svg>
        Username is Required
      </div>
    </div>
    <div class="space-y-2">
      <div class="relative">
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-gray-500 focus:border-gray-500 bg-white/10 backdrop-blur pl-10"
          placeholder="Email"
        />
      </div>
      <div
        *ngIf="
          !signupForm.get('email')?.valid && signupForm.get('email')?.touched
        "
        class="space-y-1"
      >
        <div
          *ngIf="signupForm.get('email')?.errors?.['required']"
          class="flex items-center text-red-500 text-sm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 mr-1"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
              clip-rule="evenodd"
            />
          </svg>
          Email address is Required
        </div>
        <div
          *ngIf="signupForm.get('email')?.errors?.['email']"
          class="flex items-center text-red-500 text-sm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 mr-1"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
              clip-rule="evenodd"
            />
          </svg>
          Please Enter valid Email address
        </div>
      </div>
    </div>
    <div class="space-y-2">
      <div class="relative">
        <input
          type="tel"
          id="tel"
          name="mobile"
          formControlName="mobile"
          class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-gray-500 focus:border-gray-500 bg-white/10 backdrop-blur pl-10"
          placeholder="Mobile Number"
        />
      </div>
      <div class="flex items-center justify-between pt-4">
        <!-- Toggle -->
        <label class="flex items-center cursor-pointer space-x-2">
          <input
            type="checkbox"
            [checked]="whatsup"
            (change)="toggleWhatsapp()"
            class="sr-only"
          />
          <div
            class="w-10 h-5 bg-gray-300 rounded-full relative transition-colors duration-200"
            [ngClass]="{
              'bg-green-500': whatsup,
              'bg-gray-300': !whatsup
            }"
          >
            <div
              class="w-5 h-5 bg-white rounded-full shadow absolute top-0 left-0 transition-transform duration-200"
              [ngStyle]="{
                transform: whatsup
                  ? 'translateX(100%)'
                  : 'translateX(0%)'
              }"
            ></div>
          </div>
          <span class="text-sm text-gray-700">WhatsApp</span>
        </label>

        <!-- Status -->
        <div
          class="flex items-center space-x-1 text-sm font-medium"
          [ngClass]="{
            'text-green-600': whatsup,
            'text-gray-500': !whatsup
          }"
        >
          <!-- WhatsApp Icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              d="M16 2.4C8.7 2.4 2.7 8.4 2.7 15.7c0 2.6.7 5.1 2 7.3L2 30l7.3-2c2.1 1.2 4.6 1.8 6.9 1.8 7.3 0 13.3-6 13.3-13.3S23.3 2.4 16 2.4zm0 24c-2.2 0-4.4-.6-6.3-1.8l-.5-.3-4.3 1.2 1.2-4.2-.3-.5c-1.2-1.8-1.9-4-1.9-6.3 0-6.2 5.1-11.3 11.3-11.3s11.3 5.1 11.3 11.3S22.2 26.4 16 26.4zm6.2-9.4c-.3-.2-1.9-.9-2.2-1s-.5-.2-.8.2-1 1.2-1.2 1.4-.4.2-.7.1c-.3-.1-1.3-.5-2.5-1.7s-1.7-2.2-1.9-2.5c-.2-.3 0-.5.2-.6.2-.2.5-.5.7-.7s.3-.4.5-.6c.2-.2.1-.4.1-.6 0-.2-.1-.6-.2-.8s-.8-2-1.1-2.8c-.3-.7-.6-.6-.9-.6h-.8c-.2 0-.6.1-.9.4s-1.2 1.1-1.2 2.6 1.2 3 1.4 3.2c.2.3 2.3 3.9 5.8 5.2.8.3 1.5.5 2 .7.8.2 1.5.2 2 .1.6-.1 2-.9 2.3-1.6.3-.7.3-1.4.2-1.6-.2-.1-.5-.3-.8-.4z"
            />
          </svg>

          <span>
            {{
              whatsup
                ? "Available on WhatsApp"
                : "Not Available on WhatsApp"
            }}
          </span>
        </div>
      </div>

      <div
        *ngIf="
          !signupForm.get('mobile')?.valid && signupForm.get('mobile')?.touched
        "
        class="space-y-1"
      >
        <div
          *ngIf="signupForm.get('mobile')?.errors?.['required']"
          class="flex items-center text-red-500 text-sm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 mr-1"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
              clip-rule="evenodd"
            />
          </svg>
          Mobile Number is Required
        </div>
        <div
          *ngIf="signupForm.get('mobile')?.errors?.['pattern']"
          class="flex items-center text-red-500 text-sm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 mr-1"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
              clip-rule="evenodd"
            />
          </svg>
          Please Enter valid Mobile Number
        </div>
      </div>
    </div>
    <div class="space-y-2">
      <div class="relative">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          name="password"
          formControlName="password"
          #passwordInput
          class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-gray-500 focus:border-gray-500 bg-white/10 backdrop-blur pl-10"
          placeholder="Password"
        />
        <button
          type="button"
          (click)="togglePasswordVisibility()"
          class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 hover:text-gray-600"
        >
          <svg
            *ngIf="!showPassword"
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="#000"
          >
            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
            <path
              fill-rule="evenodd"
              d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            *ngIf="showPassword"
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="#000"
          >
            <path
              fill-rule="evenodd"
              d="M3.707 2.293a1 1 0 00-1.414 1.414l14 14a1 1 0 001.414-1.414l-1.473-1.473A10.014 10.014 0 0019.542 10C18.268 5.943 14.478 3 10 3a9.958 9.958 0 00-4.512 1.074l-1.78-1.781zm4.261 4.26l1.514 1.515a2.003 2.003 0 012.45 2.45l1.514 1.514a4 4 0 00-5.478-5.478z"
              clip-rule="evenodd"
            />
            <path
              d="M12.454 16.697L9.75 13.992a4 4 0 01-3.742-3.741L2.335 6.578A9.98 9.98 0 00.458 10c1.274 4.057 5.065 7 9.542 7 .847 0 1.669-.105 2.454-.303z"
            />
          </svg>
        </button>
      </div>
      <div
        *ngIf="
          !signupForm.get('password')?.valid &&
          signupForm.get('password')?.touched
        "
        class="flex items-center text-red-500 text-sm"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 mr-1"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
            clip-rule="evenodd"
          />
        </svg>
        Password is Required
      </div>
    </div>
    <div class="space-y-2">
      @if(showReferral) {
      <div class="relative">
        <input
          type="text"
          id="referral"
          name="referral"
          formControlName="referral"
          class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-gray-500 focus:border-gray-500 bg-white/10 backdrop-blur pl-10"
          placeholder="Referral Code"
        />
      </div>
      } @else {
      <p class="text-center">
        <a
          (click)="showReferral = !showReferral"
          class="text-gray-500 hover:text-green-500 cursor-pointer"
        >
          Have a Referral Code? <span class="text-green-500">Click here</span>
        </a>
      </p>
      }
    </div>
    <button
      type="submit"
      [disabled]="!signupForm.valid "
      class="w-full bg-green-500 dark:bg-green-500/30 backdrop-blur text-gray-100 hover:text-gray-200 py-3 px-4 text-center text-xl md:text-2xl rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-colors"
    >
      Signup
    </button>
  </form>
</div>
}
