a {
  text-decoration: none;
  color: rgb(255, 0, 0);

  &:hover {
    text-decoration: underline;
    color: rgb(4, 84, 4) !important;
  }
}
.responsive-span {
  /* border color from 'bg-info' */
 border-radius: 50px; /* rounded-pill effect */
 //background-color: green; /* background color from 'bg-info' */
 padding: 0.5rem 1rem; /* equivalent of px-3 py-2 */
 color: white; /* text-white color */
 display: inline-block;
 width: 100%; /* maximum width for larger screens */
 margin: 0 auto; /* center horizontally */
}

.success{
 background-color: green;
 border: 2px solid green;
}

.danger{
 background-color: red;
 border: 2px solid red;

}

@media (max-width: 768px) {
 .responsive-span {
   font-size: 0.875rem; /* smaller font size for mobile devices */
 }
}

@media (max-width: 576px) {
 .responsive-span {
   font-size: 0.75rem; /* even smaller font size for very small devices */
   padding: 0.25rem 0.5rem; /* adjust padding for smaller screens */
 }
}