<div class="row bg-main-color d-flex justify-content-center align-items-center">
  <div class="col-md-4 col-12 bg-main-color">
    <ng-lottie width="100%" [options]="labTechnicianOptions"></ng-lottie>
  </div>
  <div class="col-md-8 col-12 bg-main-color">
    <div class="e-card playing">
      <div class="container-fluid textClass">
        <div class="row p-3 p-md-4">
          <div class="col-12">
            <h1 class="text-light text-center pb-2 pb-md-4">
              100+ Quality Checks To Assure You Highest Quality Of Water Always
            </h1>
          </div>
          <div class="col-12">
            <h3 class="text-light">
              <i class="bi bi-star-fill"></i>&nbsp;15 tests on raw water source
              every 3 months
            </h3>
            <h5 class="text-light-slate pb-2 pb-md-3">
              We conduct several tests on color, PH, turbidity, TDS etc which
              determines taste and colour of water along with tests for
              detecting Micro-Organisms like E coli and cloriforms or excess of
              parameters like Chloride, Sulphate, Nitrate etc.
            </h5>

            <h3 class="text-light">
              <i class="bi bi-star-fill"></i>&nbsp;16 tests on daily basis on
              processed water
            </h3>
            <h5 class="text-light-slate pb-2 pb-md-3">
              Various Organoleptic & Physical Parameters Test, along with 6
              Microbiological requirement tests to ensure the specified
              micro-organisms are within specifications are conducted for each
              batch. We also ensure that chloride, Sulphate are always within
              specifications given by BIS.
            </h5>

            <h3 class="text-light">
              <i class="bi bi-star-fill"></i>&nbsp;2 Radio active residues tests
            </h3>
            <h5 class="text-light-slate pb-2 pb-md-3">
              Tests to determine presence of harmful radio active residues Alpha
              & Beta Emitters in water. These tests are done every 5 years.
            </h5>

            <h3 class="text-light">
              <i class="bi bi-star-fill"></i>&nbsp;16+ Pesticides residues tests
            </h3>
            <h5 class="text-light-slate pb-2 pb-md-3">
              Tests to determine presence of 16+ Pesticides Residues in water.
              These tests are done every 6 months.
            </h5>

            <h3 class="text-light">
              <i class="bi bi-star-fill"></i>&nbsp;9 Toxic Subsctances tests
              every 6 months
            </h3>
            <h5 class="text-light-slate pb-2 pb-md-3">
              Tests to determine presence of toxic substances like Mercury,
              Cadmium, Arsenic, Cyanide, Bromates etc in water.
            </h5>

            <h4 class="float-end text-light pt-3 pt-md-5">
              <a><u>Click here to know more about Quality Checks</u></a>
            </h4>
          </div>
        </div>
      </div>
      <div class="wave1"></div>
      <div class="wave1"></div>
      <div class="wave1"></div>
    </div>
  </div>
</div>
