//footer
.footer {
  position: fixed;
  margin: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: max-content;
  background-color: rgba(228,
      240,
      194,
      0.8);
  /* Adjusted to allow for blur visibility */
  color: var(--footer-text-color);
  z-index: 99;
  backdrop-filter: blur(8px);
  /* Apply blur effect */
  -webkit-backdrop-filter: blur(8px);
  /* For Safari */
}

.footerContent {
  max-width: 1294px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.cost_details {
  font-size: 34px;
  font-weight: bold;
  margin: 5px 0;
  color: var(--footer-cost-color);
}

.btn_joinfooter {
  background: linear-gradient(to right, #67a94b, #9bbd66);
  outline: none;
  width: 100%;
  border: none;
  color: rgb(251, 249, 249);
  font-size: 16px;
  padding: 20px 20px;
  border-radius: 100px;
  margin: auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: #67a94b 0px 13px 27px -5px, #9bbd66 0px 8px 16px -8px;
}

.widthFooter {
  width: 50%;
}

.offertext {
  font-size: 24px;
  margin: 5px 0;
}

// Media Query for Mobile
@media screen and ((max-width: 600px) and (min-width: 280px)) {

  // footer
  .footerContent {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
  }

  .cost_details {
    font-size: 28px;
    font-weight: bold;
    margin: 5px 0;
    color: var(--footer-cost-color);
  }

  .btn_joinfooter {
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 100px;
    margin: 5px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: #67a94b 0px 13px 27px -5px, #9bbd66 0px 8px 16px -8px;
  }

  .widthFooter {
    width: 40%;
  }

  .offertext {
    font-size: 18px;
    margin: 5px 0;
  }

}

@media screen and ((max-width: 1024px) and (min-width: 600px)) {
  .footerContent {
    max-width: 980px;
    margin: auto;
  }

}

@media screen and ((max-width: 940px) and (min-width: 600px)) {
  .footerContent {
    max-width: 700px;
    margin: auto;
  }
}

@media screen and ((max-width: 1300px) and (min-width: 300px)) {
  .footerContent {
    max-width: 980px;
    margin: auto;
  }
}
